* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 234, 255);
}

/* navigation bar css */
.nav {
    text-align: center !important;
    margin-top: 20px;
}
.nav span{
    color: rgb(255, 57, 206);
    word-wrap: break-word;
    font-weight: bolder;
    font-size: 20px;
}
.nav button{
    float: right;
    margin-right: 9px;
}

/* main game box css start here */
.gamecontainer {
    margin-top: 31px;
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box {
    border: 2px solid black;
    border-radius: 3px;
    font-size: 5vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box:hover {
    cursor: pointer;
    background-color: rgb(255, 57, 206);
    border-radius: 9px;
}
.line{
    background-color: black;
    width: 0;
    height: 3px;
    position: absolute;
    left: 25%;
    z-index: 5;
    background-color: rgb(250, 57, 206);
    transition: all 0.3s ease-in-out;
}
/* right side css in main game box */
.gameInfo {
    padding: 0px 30px 0px 15px;
}
.imgBox img{
    width: 0px;
    transition: width 1s ease-in-out;
    cursor: pointer;
}
.btn{
    cursor: pointer;
    padding: 9px;
    border: 2px solid rgb(255, 57, 206);
    background-color: rgb(255, 57, 206);
    color: white;
    font-size: 19px;
    font-weight: bold;
    border-radius: 7px;
}
.btn:hover{
    transition: all 0.1s ease-in;
    background-color: rgb(250, 1, 188);
}
/* remove border in main game box  right,left,top, and bottom  */
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}